<!DOCTYPE html>
<html>
  <head>
    <title>User Login and Sessions </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="form-container">
    	<p class="form-header">Login</p>
    	<form method="post" action="/login">
    		<label>Username:</label>
    			<input type="text" name="username" /><br/><br/>
    		<label>Password:</label>
    			<input type="password" name="password" /><br/><br/>
    		<input type="submit" value= "Login" />
    	</form>
    </div>
    <a href="/signup">Sign Up</a>
    <hr><%= msg %>
  </body>
</html>
